# Ignore Python virtual environment
venv/

# Ignore database files
*.sqlite3
db.sqlite3

# Ignore environment variables
.env

# Ignore compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Django migrations cache
*/migrations/__pycache__/

# Ignore IDE/editor-specific files
.vscode/
.idea/
.DS_Store
